{# Base HTML template for the XOneNotifier email messages #}

{# Uses Inky, which converts simple HTML into complex and responsive email-ready HTML #}
{# @see https://github.com/foundation/inky #}

{# Uses Foundation for Emails (formerly Ink) styles #}
{# @see https://get.foundation/emails.html #}

{# @var email \Symfony\Bridge\Twig\Mime\WrappedTemplatedEmail #}
{# @var string content #}

{% apply inky_to_html|inline_css %}
<html>
<head>
<style>
    {% block style %}
        {{ source("@XOneNotifier/Email/main.css") }}
        {{ source("@XOneNotifier/Email/local.css") }}
    {% endblock %}
</style>
</head>
<body>
<spacer size="32"></spacer>
<wrapper class="body">
    <container class="body_default">
        <spacer size="16"></spacer>
        <row>
            <columns large="12" small="12">
                {%- block subject -%}
                    <p class="lead">{{- email.subject -}}</p>
                {%- endblock -%}

                {%- block content -%}{{- content|raw -}}{%- endblock -%}
            </columns>
        </row>
    </container>
</wrapper>
</body>
</html>
{% endapply %}
